.settings-item__column__right .fa-bars {
  font-size: 28.5px;
}
.settings-item__column__right {
  gap: 25px;
  align-items: center;
}
.chat-room-name__column span {
  font-size: 25px;
  text-wrap: nowrap;
}

/* background-color */
.chat-body {
  background-color: var(--sub-color);
}

/* chat-date-bar */
.chat-date-bar {
  display: flex;
  justify-content: center;
  background-color: mediumpurple;
  color: white;
  padding: 9px 0;
  margin: 20px 120px;
  border-radius: 25px;
  animation: date-bar-down 0.8s forwards;
}
@keyframes date-bar-down {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* chat-input */
.chat-input {
  display: flex;
  background-color: white;
  margin: 0 -24px;
  height: 60px;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  position: fixed;
  bottom: 0;
  animation: chat-input-appearance 0.8s;
}
@keyframes chat-input-appearance {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.chat-input__column {
  display: flex;
}
.chat-input__column__more-options-button button {
  font-size: 35px;
  color: rgba(0, 0, 0, 0.4);
  width: 30px;
  height: 30px;
  border: 2.5px solid rgba(0, 0, 0, 0.4);
  border-radius: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  cursor: pointer;
  transition: all 0.15s linear;
}
.chat-input__column__more-options-button button:hover,
.chat-input__column__more-options-button button:focus {
  color: var(--main-color);
  border-color: var(--main-color);
}
.chat-input__column__input-bar {
  border-radius: 28px;
  border: 1.5px solid rgba(0, 0, 0, 0.15);
  font-size: 47px;
  width: 83%;
  display: flex;
  justify-content: space-between;
  transition: all 0.15s linear;
}
.chat-input__column__input-bar:hover,
.chat-input__column__input-bar:focus-within {
  border-color: var(--main-color);
}
.chat-input__column__input-bar input {
  font-size: 20px;
  font-weight: 500;
  border-radius: 28px;
  border: none;
  padding: 12px;
  width: 75%;
}
.chat-input__column__input-bar input:focus {
  outline: none;
}
.chat-input__column__column {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}
.chat-input__column__column__imoji-button {
  color: rgba(0, 0, 0, 0.4);
  width: 30px;
  height: 30px;
  border: none;
  background-color: white;
  font-size: 27px;
  display: flex;
  cursor: pointer;
  transition: all 0.15s linear;
}
.chat-input__column__column__imoji-button:hover,
.chat-input__column__column__imoji-button:focus {
  color: var(--main-color);
}
.chat-input__column__column__send-button {
  border-radius: 50%;
  width: 43px;
  height: 43px;
  font-size: 23px;
  background-color: var(--main-color);
  color: white;
  border: none;
  margin-right: 1.8px;
  cursor: pointer;
  transition: all 0.15s linear;
}
.chat-input__column__column__send-button:hover {
  background-color: dodgerblue;
}
