.tab-bar {
  display: flex;
  margin-top: 32px;
  padding: 20px 0;
  width: 100%;
  box-sizing: border-box;
}
.tab-bar__header {
  width: 50%;
}
.tab-bar__header h1 {
  font-size: 30px;
  font-weight: 700;
  display: flex;
}
.tab-bar__icon {
  display: flex;
  width: 50%;
  justify-content: flex-end;
  align-items: center;
  gap: 28px;
}
.tab-bar__icon i {
  display: flex;
  font-size: 25px;
}
.tab-bar__icon .fa-comment-dots {
  font-size: 29px;
}
.tab-bar__icon a {
  color: inherit;
  text-decoration: none;
  font-size: 25px;
}
.tab-bar__icon .fa-gear:hover {
  animation: gear-spin 1.3s linear infinite;
}
@keyframes gear-spin {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}
